body{
    font-family: Arial;
    background-color: #EEF0FF;

}

#main{
 
 padding: 5px;
 display: flex;
 justify-content: center;
 flex-wrap: wrap;
 align-items: center;
 flex-direction: column;


}

#title{

padding: 15px;
background-color: #C6CDFF;
width: 96%;
text-align: center;
border-radius: 10px;

}

#section img{
    width: 300px;
    border: 4px solid black;
    border-radius: 6px;

}  

#section{
        display: flex;
        flex-wrap: wrap;

        padding: 5px 5px 5px 5px;
        justify-content: center;
        align-items: center;

}

.block{
    margin: 20px;
    background-color: royalblue;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

a{
        text-decoration: none;

}

#section .block h2, p{
color: #EEF0FF;

}
